.padre-flex{
    // background: #A8C7D6;
    height: 40vh;
    font-family: Gloria Hallelujah;
    font-style: italic;
    text-align: left;
    margin-left: 1.5cm;
    line-height: 50px;
}

h2{
    text-align: left;
    margin-left: 6.5cm;
    margin-top: 1.5cm;
    margin-bottom: 0.5cm;
}
.content{
    margin-left: 6cm;
    border:2px solid;
    margin-right: 7cm;
    padding-bottom: 1cm;
    padding-top: 1cm;
}
.a1{
    font-weight: bold;
}

.a2{
    position: absolute;
    left: 24cm;

}

.a3{
    position: absolute;
    left: 24cm;
    font-weight: bold;
}
.a4{
    position: absolute;
    left: 19cm;
}
.a5{
    position:relative;
    left:7cm;
}
.a6{
    position: absolute;
    left: 28cm;
}
.a7{
    position:relative;
    left: 0.5cm;
}
.a11{
    position: absolute;
    left: 19cm;
}


.card-image{
    position: absolute;
    left: 28cm;
    top: 5.5cm;
    margin-right: 2cm;
    
}