h3{
    text-align: left;
    margin-left: 1cm;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
}
.a1{
    font-weight: bold;
    margin-left: 1.5cm;
}
.a2{
    position: absolute;
    left: 20cm;

}
.a3{
    position: absolute;
    left: 23cm;
    font-weight: bold;
}
.a5{
    position:relative;
    left:6cm;
}
div{
    font-weight: bold;
    margin-left: 1.5cm;
}

a{
    line-height: 40px;
}