.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-list > li {
  display: inline;
  padding: 10px;
  text-decoration: underline;
}

.logo {
  font-size: 2em;
  margin-right: 15px;
}