.padre-flex{
  // background: #A8C7D6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.padre-flex > div{

  text-align: center;
  font-family: Gloria Hallelujah;
  font-style: italic;
}

.inputs{
  margin: 0.5cm;
}

h3{
  margin-bottom: 1cm;

}

wired-input{

  width: 10cm;
  font-family: Gloria Hallelujah;

}
wired-button{
  margin: 0.3cm;
  background-color: black;
  color: white;
}
